<div class="list">
  <h2>Claimlist</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
    <% for item in @claimlist.items %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td>UNCLAIM TODO</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
